h3 Data
.row
  .col-md-6
    .panel.panel-default
      .panel-heading Todays measurement
      .panel-body
        .input-group
          input.form-control(type='text')
          span.input-group-addon cm
        p Remember to measure your knee 15cm above your knee bone blabla
.row
  .col-md-6
    .panel.panel-default
      .panel-heading My daily goal
      .panel-body
        .input-group
          input.form-control(type='text', value='1500')
          span.input-group-addon steps