//Created by casperschultz on 07/04/15.

h3 Graphs
h4 Time interval
.row(ng-controller='ButtonsCtrl')
  .col-md-12
    .btn-group-justified.btn-group
      .btn-group
        label.btn.btn-primary(ng-model='radioModel', btn-radio="'Day'") Day
      .btn-group
        label.btn.btn-primary(ng-model='radioModel', btn-radio="'Week'") Week
      .btn-group
        label.btn.btn-primary(ng-model='radioModel', btn-radio="'Month'") Month
      .btn-group
        label.btn.btn-primary(ng-model='radioModel', btn-radio="'Year'") Year
hr

h4 My graphs
  .row
    .col-md-12(ng-controller="GraphsCarouselController")
      .carousel-demo(ng-controller='ChartistController')
        ul.list-unstyled.carousel2(rn-carousel, rn-carousel-index="carouselIndex", rn-carousel-loop)
          li
            div
              h4 Steps per day
              .ct-chart
        div(rn-carousel-indicators='', rn-carousel-index='carouselIndex', slides="[0,1]")