//Created by casperschultz on 07/04/15.

h3 Graphs
.row(ng-controller='ButtonsCtrl')
  .btn-group
    label.btn.btn-success(ng-model='radioModel', btn-radio="'Left'", uncheckable='uncheckable') Left
    label.btn.btn-success(ng-model='radioModel', btn-radio="'Middle'", uncheckable='uncheckable') Middle
    label.btn.btn-success(ng-model='radioModel', btn-radio="'Right'", uncheckable='uncheckable') Right
hr

h3 Carousel to hold graphs
  .carousel-demo(ng-controller='ChartistController')
    ul.list-unstyled.carousel2(rn-carousel='')
      li
        div
          .ct-chart(chartist="", chartist-chart-type='Line', chartist-data='smilData', chartist-chart-options="smilOptions", chartist-events="smilEvents")
      li
        div
          .ct-chart(chartist="", chartist-chart-type='Line', chartist-data='smilData2', chartist-chart-options="smilOptions", chartist-events="smilEvents")