h3 My stats
.row
    .col-lg-12
        h4 Goal archived
        .progress
            .progress-bar-info.progress-bar-striped.progress-bar(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width:50%')
                | 50%
        // START widget
        h4 My stats
        .panel.widget
            .row.row-table.row-flush
                .col-xs-6.bb.br
                    .row.row-table.row-flush
                        .col-xs-4.text-center.text-info
                            em.fa.fa-clock-o.fa-2x
                        .col-xs-8
                            .panel-body.text-center
                                h4.mt0 1h 30m
                                p.mb0.text-muted LEFT OF
                                    b  3h
                .col-xs-6.bb
                    .row.row-table.row-flush
                        .col-xs-4.text-center.text-danger
                            em.fa.fa-paw.fa-2x
                        .col-xs-8
                            .panel-body.text-center
                                h4.mt0 1000
                                p.mb0.text-muted STEPS LEFT OF
                                    b  2000
            .row.row-table.row-flush
                .col-xs-6.br
                    .row.row-table.row-flush
                        .col-xs-4.text-center.text-inverse
                            em.fa.fa-road.fa-2x
                        .col-xs-8
                            .panel-body.text-center
                                h4.mt0 5 km
                                p.mb0.text-muted LEFT OF
                                    b  10 km
                .col-xs-6
                    .row.row-table.row-flush
                        .col-xs-4.text-center.text-success
                            em.fa.fa-tachometer.fa-2x
                        .col-xs-8
                            .panel-body.text-center
                                h4.mt0 6.1 km/h
                                p.mb0.text-muted AVERAGE SPEED