<h3>Data</h3>
<h4>Todays measurement</h4>
<div class="row">
   <div class="col-md-6">
      <div class="input-group">
         <input type="text" class="form-control" />
         <span class="input-group-addon">cm</span>
      </div>
      <p>Remember to measure your knee 15cm above your knee bone blabla</p>
   </div>
</div>
<h4>My daily goal</h4>
<div class="row">
   <div class="col-md-6">
      <div class="input-group">
         <input type="text" value="1500" class="form-control" />
         <span class="input-group-addon">steps</span>
      </div>
   </div>
</div>