<!--Created by casperschultz on 07/04/15.-->
<h3>Graphs</h3>
<div ng-controller="ButtonsCtrl" class="row">
   <div class="btn-group">
      <label ng-model="radioModel" btn-radio="'Left'" uncheckable="uncheckable" class="btn btn-success">Left</label>
      <label ng-model="radioModel" btn-radio="'Middle'" uncheckable="uncheckable" class="btn btn-success">Middle</label>
      <label ng-model="radioModel" btn-radio="'Right'" uncheckable="uncheckable" class="btn btn-success">Right</label>
   </div>
</div>
<hr/>
<h3>Carousel to hold graphs
   <div class="carousel-demo">
      <ul rn-carousel="" class="list-unstyled carousel2">
         <li>
            <h4>Steps / Hour
               <div ng-controller="ChartistController">
                  <div class="panel panel-default"></div>
                  <div class="panel-body"></div>
                  <div chartist="" chartist-chart-type="Line" chartist-data="smilData" chartist-chart-options="smilOptions" chartist-events="smilEvents" class="ct-chart"></div>
               </div>
            </h4>
         </li>
         <li>
            <h4>Knee measurements / time
               <div ng-controller="ChartistController">
                  <div class="panel panel-default"></div>
                  <div class="panel-body"></div>
                  <div chartist="" chartist-chart-type="Line" chartist-data="smilData" chartist-chart-options="smilOptions" chartist-events="smilEvents" class="ct-chart"></div>
               </div>
            </h4>
         </li>
         <li>
            <h4>Time / Distance
               <div ng-controller="ChartistController">
                  <div class="panel panel-default"></div>
                  <div class="panel-body"></div>
                  <div chartist="" chartist-chart-type="Line" chartist-data="smilData" chartist-chart-options="smilOptions" chartist-events="smilEvents" class="ct-chart"></div>
               </div>
            </h4>
         </li>
      </ul>
   </div>
</h3>