<h3>My stats</h3>
<div class="row">
   <div class="col-lg-12">
      <h4>Goal achieved</h4>
      <div class="progress">
         <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%" class="progress-bar-info progress-bar-striped progress-bar">50%</div>
      </div>
      <!-- START widget-->
      <h4>My stats</h4>
      <div class="panel widget">
         <div class="row row-table row-flush">
            <div class="col-xs-6 bb br">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-info">
                     <em class="fa fa-clock-o fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">1h 30m</h4>
                        <p class="mb0 text-muted">LEFT OF<b> 3h</b>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-6 bb">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-danger">
                     <em class="fa fa-paw fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">1000 steps</h4>
                        <p class="mb0 text-muted">LEFT OF<b> 2000</b>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row row-table row-flush">
            <div class="col-xs-6 br">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-inverse">
                     <em class="fa fa-road fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">5 km</h4>
                        <p class="mb0 text-muted">LEFT OF<b> 10 km</b>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-6">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-success">
                     <em class="fa fa-tachometer fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">6.1 km/h</h4>
                        <p class="mb0 text-muted">AVERAGE SPEED</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>