<h3>My stats</h3>
<div class="row">
   <div class="col-lg-12">
      <h4>Today</h4>
      <!-- START widget-->
      <div class="panel widget">
         <div class="row row-table row-flush">
            <div class="col-xs-6 bb br">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-info">
                     <em class="fa fa-users fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">345</h4>
                        <p class="mb0 text-muted">STEPS TAKEN</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-6 bb">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-danger">
                     <em class="fa fa-music fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">345</h4>
                        <p class="mb0 text-muted">STEPS LEFT</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row row-table row-flush">
            <div class="col-xs-6 br">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-inverse">
                     <em class="fa fa-code-fork fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">1h 13m</h4>
                        <p class="mb0 text-muted">SPENT WALKING</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-6">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-success">
                     <em class="fa fa-inbox fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">50%</h4>
                        <p class="mb0 text-muted">GOAL REACHED</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <h4>This week</h4>
      <!-- START widget-->
      <div class="panel widget">
         <div class="row row-table row-flush">
            <div class="col-xs-6 bb br">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-info">
                     <em class="fa fa-users fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">345</h4>
                        <p class="mb0 text-muted">STEPS TAKEN</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-6 bb">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-danger">
                     <em class="fa fa-music fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">345</h4>
                        <p class="mb0 text-muted">STEPS LEFT</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row row-table row-flush">
            <div class="col-xs-6 br">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-inverse">
                     <em class="fa fa-code-fork fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">1h 13m</h4>
                        <p class="mb0 text-muted">SPENT WALKING</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-6">
               <div class="row row-table row-flush">
                  <div class="col-xs-4 text-center text-success">
                     <em class="fa fa-inbox fa-2x"></em>
                  </div>
                  <div class="col-xs-8">
                     <div class="panel-body text-center">
                        <h4 class="mt0">50%</h4>
                        <p class="mb0 text-muted">GOAL REACHED</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>